# Pandas - Dataframes multiniveís

In [10]:
import numpy as np
import pandas as pd

In [11]:
# Níveis de indice
outside = ['G1', 'G1', 'G1', 'G2', 'G2', 'G2',]
inside = [1,2,3,1,2,3]

In [12]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [13]:
inside

[1, 2, 3, 1, 2, 3]

Juntando as 2 listas em uma com o zip:

In [14]:
hier_index = list(zip(outside,inside))

In [15]:
hier_index

[('G1', 1), ('G1', 2), ('G1', 3), ('G2', 1), ('G2', 2), ('G2', 3)]

In [16]:
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [17]:
hier_index

MultiIndex(levels=[['G1', 'G2'], [1, 2, 3]],
           codes=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

Carregando os indices no dataframe:

In [18]:
df = pd.DataFrame(np.random.rand(6,2), index=hier_index, columns =['A', 'B'])

In [19]:
df

             A         B
G1 1  0.974447  0.410231
   2  0.620840  0.205767
   3  0.531724  0.206437
G2 1  0.439536  0.866805
   2  0.201453  0.550271
   3  0.184701  0.203246

In [20]:
df.loc['G1']

          A         B
1  0.974447  0.410231
2  0.620840  0.205767
3  0.531724  0.206437

In [21]:
df.loc['G1'].loc[1]

A    0.974447
B    0.410231
Name: 1, dtype: float64

Nome dos indices:

In [25]:
df.index.names = ['Grupo', 'Numero']

In [26]:
df

                     A         B
Grupo Numero
G1    1       0.974447  0.410231
      2       0.620840  0.205767
      3       0.531724  0.206437
G2    1       0.439536  0.866805
      2       0.201453  0.550271
      3       0.184701  0.203246

In [27]:
df.xs('G1')  # XS crosssection

               A         B
Numero
1       0.974447  0.410231
2       0.620840  0.205767
3       0.531724  0.206437

In [28]:
df.xs(1, level='Numero')

              A         B
Grupo
G1     0.974447  0.410231
G2     0.439536  0.866805